<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>İcon Listesi <small>Kopayalamak için lütfen seçtiğiniz icona tıklayınız. CTRL + V tuş kombinasyonu ile textbox içine yapıştırınız</small></h2>
                @*<ul class="nav navbar-right panel_toolbox">
                     <li>
                         <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                    <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                             <ul class="dropdown-menu" role="menu">
                                 <li>
                                     <a href="#">Settings 1</a>
                                 </li>
                                 <li>
                                     <a href="#">Settings 2</a>
                                 </li>
                             </ul>
                         </li>
                                        <li>
                                            <a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>*@
                <div class="clearfix"></div>
            </div>
            <div class="row fontawesome-icon-list">
                <script>
                        function copyToClipboard(element) {
                            var $temp = $("<input>");
                            $("body").append($temp);
                            $temp.val($(element).text()).select();
                            document.execCommand("copy");
                            $temp.remove();
                        }
                </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <div class="row">
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/adjust" id="p1" onclick="copyToClipboard('#p1')"><i class="fa fa-adjust"></i>fa-adjust</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/anchor" id="p2" onclick="copyToClipboard('#p2')"><i class="fa fa-anchor"></i>fa-anchor</a>

                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/archive" id="p3" onclick="copyToClipboard('#p3')"><i class="fa fa-archive"></i>fa-archive</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/area-chart" id="p4" onclick="copyToClipboard('#p4')"><i class="fa fa-area-chart"></i>fa-area-chart</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/arrows" id="p5" onclick="copyToClipboard('#p5')"><i class="fa fa-arrows"></i>fa-arrows</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/arrows-h" id="p6" onclick="copyToClipboard('#p6')"><i class="fa fa-arrows-h"></i>fa-arrows-h</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/arrows-v" id="p7" onclick="copyToClipboard('#p7')"><i class="fa fa-arrows-v"></i>fa-arrows-v</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/asterisk" id="p8" onclick="copyToClipboard('#p8')"><i class="fa fa-asterisk"></i>fa-asterisk</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/at" id="p9" onclick="copyToClipboard('#p9')"><i class="fa fa-at"></i>fa-at</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/car" id="p10" onclick="copyToClipboard('#p10')"><i class="fa fa-automobile"></i>fa-automobile<span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/ban" id="p11" onclick="copyToClipboard('#p11')"><i class="fa fa-ban"></i>fa-ban</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/university" id="p12" onclick="copyToClipboard('#p12')"><i class="fa fa-bank"></i>fa-bank <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bar-chart" id="p13" onclick="copyToClipboard('#p13')"><i class="fa fa-bar-chart"></i>fa-bar-chart</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bar-chart" id="p14" onclick="copyToClipboard('#p14')"><i class="fa fa-bar-chart-o"></i>fa-bar-chart-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/barcode" id="p15" onclick="copyToClipboard('#p15')"><i class="fa fa-barcode"></i>fa-barcode</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bars" id="p16" onclick="copyToClipboard('#p16')"><i class="fa fa-bars"></i>fa-bars</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/beer" id="p17" onclick="copyToClipboard('#p17')"><i class="fa fa-beer"></i>fa-beer</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bell" id="p18" onclick="copyToClipboard('#p18')"><i class="fa fa-bell"></i>fa-bell</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bell-o" id="p19" onclick="copyToClipboard('#p19')"><i class="fa fa-bell-o"></i>fa-bell-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bell-slash" id="p20" onclick="copyToClipboard('#p20')"><i class="fa fa-bell-slash"></i>fa-bell-slash</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bell-slash-o" id="p21" onclick="copyToClipboard('#p21')"><i class="fa fa-bell-slash-o"></i>fa-bell-slash-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bicycle" id="p22" onclick="copyToClipboard('#p22')"><i class="fa fa-bicycle"></i>fa-bicycle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/binoculars" id="p23" onclick="copyToClipboard('#p23')"><i class="fa fa-binoculars"></i>fa-binoculars</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/birthday-cake" id="p24" onclick="copyToClipboard('#p24')"><i class="fa fa-birthday-cake"></i>fa-birthday-cake</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bolt" id="p25" onclick="copyToClipboard('#p25')"><i class="fa fa-bolt"></i>fa-bolt</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bomb" id="p26" onclick="copyToClipboard('#p26')"><i class="fa fa-bomb"></i>fa-bomb</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/book" id="p27" onclick="copyToClipboard('#p27')"><i class="fa fa-book"></i>fa-book</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bookmark" id="p28" onclick="copyToClipboard('#p28')"><i class="fa fa-bookmark"></i>fa-bookmark</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bookmark-o" id="p29" onclick="copyToClipboard('#p29')"><i class="fa fa-bookmark-o"></i>fa-bookmark-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/briefcase" id="p30" onclick="copyToClipboard('#p30')"><i class="fa fa-briefcase"></i>fa-briefcase</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bug" id="p31" onclick="copyToClipboard('#p31')"><i class="fa fa-bug"></i>fa-bug</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/building" id="p32" onclick="copyToClipboard('#p32')"><i class="fa fa-building"></i>fa-building</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/building-o" id="p33" onclick="copyToClipboard('#p33')"><i class="fa fa-building-o"></i>fa-building-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bullhorn" id="p34" onclick="copyToClipboard('#p34')"><i class="fa fa-bullhorn"></i>fa-bullhorn</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bullseye" id="p35" onclick="copyToClipboard('#p35')"><i class="fa fa-bullseye"></i>fa-bullseye</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bus" id="p36" onclick="copyToClipboard('#p36')"><i class="fa fa-bus"></i>fa-bus</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/taxi" id="p37" onclick="copyToClipboard('#p37')"><i class="fa fa-cab"></i>fa-cab <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/calculator" id="p38" onclick="copyToClipboard('#p38')"><i class="fa fa-calculator"></i>fa-calculator</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/calendar" id="p39" onclick="copyToClipboard('#p39')"><i class="fa fa-calendar"></i>fa-calendar</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/calendar-o" id="p40" onclick="copyToClipboard('#p40')"><i class="fa fa-calendar-o"></i>fa-calendar-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/camera" id="p41" onclick="copyToClipboard('#p41')"><i class="fa fa-camera"></i>fa-camera</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/camera-retro" id="p42" onclick="copyToClipboard('#p42')"><i class="fa fa-camera-retro"></i>fa-camera-retro</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/car" id="p43" onclick="copyToClipboard('#p43')"><i class="fa fa-car"></i>fa-car</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-down" id="p44" onclick="copyToClipboard('#p44')"><i class="fa fa-caret-square-o-down"></i>fa-caret-square-o-down</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-left" id="p45" onclick="copyToClipboard('#p45')"><i class="fa fa-caret-square-o-left"></i>fa-caret-square-o-left</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-right" id="p46" onclick="copyToClipboard('#p46')"><i class="fa fa-caret-square-o-right"></i>fa-caret-square-o-right</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-up" id="p47" onclick="copyToClipboard('#p47')"><i class="fa fa-caret-square-o-up"></i>fa-caret-square-o-up</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cc" id="p48" onclick="copyToClipboard('#p48')"><i class="fa fa-cc"></i>fa-cc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/certificate" id="p49" onclick="copyToClipboard('#p49')"><i class="fa fa-certificate"></i>fa-certificate</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/check" id="p50" onclick="copyToClipboard('#p50')"><i class="fa fa-check"></i>fa-check</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/check-circle" id="p51" onclick="copyToClipboard('#p51')"><i class="fa fa-check-circle"></i>fa-check-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/check-circle-o" id="p52" onclick="copyToClipboard('#p52')"><i class="fa fa-check-circle-o"></i>fa-check-circle-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/check-square" id="p53" onclick="copyToClipboard('#p53')"><i class="fa fa-check-square"></i>fa-check-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/check-square-o" id="p54" onclick="copyToClipboard('#p54')"><i class="fa fa-check-square-o"></i>fa-check-square-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/child" id="p55" onclick="copyToClipboard('#p55')"><i class="fa fa-child"></i>fa-child</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/circle" id="p56" onclick="copyToClipboard('#p56')"><i class="fa fa-circle"></i>fa-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/circle-o" id="p57" onclick="copyToClipboard('#p57')"><i class="fa fa-circle-o"></i>fa-circle-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/circle-o-notch" id="p58" onclick="copyToClipboard('#p58')"><i class="fa fa-circle-o-notch"></i>fa-circle-o-notch</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/circle-thin" id="p59" onclick="copyToClipboard('#p59')"><i class="fa fa-circle-thin"></i>fa-circle-thin</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/clock-o" id="p60" onclick="copyToClipboard('#p60')"><i class="fa fa-clock-o"></i>fa-clock-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/times" id="p61" onclick="copyToClipboard('#p61')"><i class="fa fa-close" ></i>fa-close <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cloud" id="p62" onclick="copyToClipboard('#p62')"><i class="fa fa-cloud"></i>fa-cloud</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cloud-download" id="p63" onclick="copyToClipboard('#p63')"><i class="fa fa-cloud-download"></i>fa-cloud-download</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cloud-upload" id="p64" onclick="copyToClipboard('#p64')"><i class="fa fa-cloud-upload"></i>fa-cloud-upload</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/code" id="p65" onclick="copyToClipboard('#p65')"><i class="fa fa-code"></i>fa-code</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/code-fork" id="p66" onclick="copyToClipboard('#p66')"><i class="fa fa-code-fork"></i>fa-code-fork</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/coffee" id="p67" onclick="copyToClipboard('#p67')"><i class="fa fa-coffee"></i>fa-coffee</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cog" id="p68" onclick="copyToClipboard('#p68')"><i class="fa fa-cog"></i>fa-cog</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cogs" id="p69" onclick="copyToClipboard('#p69')"><i class="fa fa-cogs"></i>fa-cogs</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/comment" id="p70" onclick="copyToClipboard('#p70')"><i class="fa fa-comment"></i>fa-comment</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/comment-o" id="p71" onclick="copyToClipboard('#p71')"><i class="fa fa-comment-o"></i>fa-comment-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/comments" id="p72" onclick="copyToClipboard('#p72')"><i class="fa fa-comments"></i>fa-comments</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/comments-o" id="p73" onclick="copyToClipboard('#p73')"><i class="fa fa-comments-o"></i> fa-comments-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/compass" id="p74" onclick="copyToClipboard('#p74')"><i class="fa fa-compass"></i> fa-compass</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/copyright" id="p75" onclick="copyToClipboard('#p75')"><i class="fa fa-copyright"></i> fa-copyright</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/credit-card" id="p76" onclick="copyToClipboard('#p76')"><i class="fa fa-credit-card"></i> fa-credit-card</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/crop" id="p77" onclick="copyToClipboard('#p77')"><i class="fa fa-crop"></i> fa-crop</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/crosshairs" id="p78" onclick="copyToClipboard('#p78')"><i class="fa fa-crosshairs"></i> fa-crosshairs</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cube" id="p79" onclick="copyToClipboard('#p79')"><i class="fa fa-cube"></i> fa-cube</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cubes" id="p80" onclick="copyToClipboard('#p80')"><i class="fa fa-cubes"></i> fa-cubes</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cutlery" id="p81" onclick="copyToClipboard('#p81')"><i class="fa fa-cutlery"></i> fa-cutlery</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tachometer" id="p82" onclick="copyToClipboard('#p82')"><i class="fa fa-dashboard"></i> fa-dashboard <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/database" id="p83" onclick="copyToClipboard('#p83')"><i class="fa fa-database"></i> fa-database</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/desktop" id="p84" onclick="copyToClipboard('#p84')"><i class="fa fa-desktop"></i> fa-desktop</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/dot-circle-o" id="p85" onclick="copyToClipboard('#p85')"><i class="fa fa-dot-circle-o"></i> fa-dot-circle-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/download" id="p86" onclick="copyToClipboard('#p86')"><i class="fa fa-download"></i> fa-download</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/pencil-square-o" id="p87" onclick="copyToClipboard('#p87')"><i class="fa fa-edit"></i> fa-edit <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/ellipsis-h" id="p88" onclick="copyToClipboard('#p88')"><i class="fa fa-ellipsis-h"></i> fa-ellipsis-h</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/ellipsis-v" id="p89" onclick="copyToClipboard('#p89')"><i class="fa fa-ellipsis-v"></i> fa-ellipsis-v</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/envelope" id="p90" onclick="copyToClipboard('#p90')"><i class="fa fa-envelope"></i> fa-envelope</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/envelope-o" id="p91" onclick="copyToClipboard('#p91')"><i class="fa fa-envelope-o"></i>fa-envelope-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/envelope-square" id="p92" onclick="copyToClipboard('#p92')"><i class="fa fa-envelope-square"></i>fa-envelope-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/eraser" id="p93" onclick="copyToClipboard('#p93')"><i class="fa fa-eraser"></i>fa-eraser</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/exchange" id="p94" onclick="copyToClipboard('#p94')"><i class="fa fa-exchange"></i>fa-exchange</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/exclamation" id="p95" onclick="copyToClipboard('#p95')"><i class="fa fa-exclamation"></i>fa-exclamation</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/exclamation-circle" id="p96" onclick="copyToClipboard('#p96')"><i class="fa fa-exclamation-circle"></i>fa-exclamation-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/exclamation-triangle" id="p97" onclick="copyToClipboard('#p97')"><i class="fa fa-exclamation-triangle"></i>fa-exclamation-triangle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/external-link" id="p98" onclick="copyToClipboard('#p98')"><i class="fa fa-external-link"></i>fa-external-link</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/external-link-square" id="p99" onclick="copyToClipboard('#p99')"><i class="fa fa-external-link-square"></i>fa-external-link-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/eye" id="p100" onclick="copyToClipboard('#p100')"><i class="fa fa-eye"></i>fa-eye</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/eye-slash" id="p101" onclick="copyToClipboard('#p101')"><i class="fa fa-eye-slash"></i>fa-eye-slash</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/eyedropper" id="p102" onclick="copyToClipboard('#p102')"><i class="fa fa-eyedropper"></i>fa-eyedropper</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/fax" id="p103" onclick="copyToClipboard('#p103')"><i class="fa fa-fax"></i>fa-fax</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/female" id="p104" onclick="copyToClipboard('#p104')"><i class="fa fa-female"></i> fa-female</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/fighter-jet" id="p105" onclick="copyToClipboard('#p105')"><i class="fa fa-fighter-jet"></i> fa-fighter-jet</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-archive-o" id="p106" onclick="copyToClipboard('#p106')"><i class="fa fa-file-archive-o"></i> fa-file-archive-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-audio-o" id="p107" onclick="copyToClipboard('#p107')"><i class="fa fa-file-audio-o"></i> fa-file-audio-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-code-o" id="p108" onclick="copyToClipboard('#p108')"><i class="fa fa-file-code-o"></i> fa-file-code-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-excel-o" id="p109" onclick="copyToClipboard('#p109')"><i class="fa fa-file-excel-o"></i> fa-file-excel-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-image-o" onclick="copyToClipboard('#p110')"><i class="fa fa-file-image-o" id="p110"></i> fa-file-image-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-video-o" id="p111" onclick="copyToClipboard('#p111')"><i class="fa fa-file-movie-o"></i> fa-file-movie-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-pdf-o" id="p112" onclick="copyToClipboard('#p112')"><i class="fa fa-file-pdf-o"></i> fa-file-pdf-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-image-o" id="p113" onclick="copyToClipboard('#p113')"><i class="fa fa-file-photo-o"></i> fa-file-photo-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-image-o" id="p114" onclick="copyToClipboard('#p114')"><i class="fa fa-file-picture-o"></i> fa-file-picture-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-powerpoint-o" id="p115" onclick="copyToClipboard('#p115')"><i class="fa fa-file-powerpoint-o"></i> fa-file-powerpoint-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-audio-o" id="p116" onclick="copyToClipboard('#p116')"><i class="fa fa-file-sound-o"></i> fa-file-sound-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-video-o" id="p117" onclick="copyToClipboard('#p117')"><i class="fa fa-file-video-o"></i> fa-file-video-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-word-o" id="p118" onclick="copyToClipboard('#p118')"><i class="fa fa-file-word-o"></i> fa-file-word-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/file-archive-o" id="p119" onclick="copyToClipboard('#p119')"><i class="fa fa-file-zip-o"></i> fa-file-zip-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/film" id="p120" onclick="copyToClipboard('#p120')"><i class="fa fa-film"></i> fa-film</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/filter" id="p121" onclick="copyToClipboard('#p121')"><i class="fa fa-filter"></i> fa-filter</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/fire" id="p122" onclick="copyToClipboard('#p122')"><i class="fa fa-fire"></i> fa-fire</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/fire-extinguisher" id="p123" onclick="copyToClipboard('#p123')"><i class="fa fa-fire-extinguisher"></i> fa-fire-extinguisher</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/flag" id="p124" onclick="copyToClipboard('#p124')"><i class="fa fa-flag"></i> fa-flag</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/flag-checkered" id="p125" onclick="copyToClipboard('#p125')"><i class="fa fa-flag-checkered"></i> fa-flag-checkered</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/flag-o" id="p126" onclick="copyToClipboard('#p126')"><i class="fa fa-flag-o"></i> fa-flag-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bolt" id="p127" onclick="copyToClipboard('#p127')"><i class="fa fa-flash"></i> fa-flash <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/flask" id="p128" onclick="copyToClipboard('#p128')"><i class="fa fa-flask"></i> fa-flask</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/folder" id="p129" onclick="copyToClipboard('#p129')"><i class="fa fa-folder"></i> fa-folder</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/folder-o" id="p130" onclick="copyToClipboard('#p130')"><i class="fa fa-folder-o"></i> fa-folder-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/folder-open" id="p131" onclick="copyToClipboard('#p131')"><i class="fa fa-folder-open"></i> fa-folder-open</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/folder-open-o" id="p132" onclick="copyToClipboard('#p132')"><i class="fa fa-folder-open-o"></i> fa-folder-open-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/frown-o" id="p133" onclick="copyToClipboard('#p133')"><i class="fa fa-frown-o"></i> fa-frown-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/futbol-o" id="p134" onclick="copyToClipboard('#p134')"><i class="fa fa-futbol-o"></i> fa-futbol-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/gamepad" id="p135" onclick="copyToClipboard('#p135')"><i class="fa fa-gamepad"></i> fa-gamepad</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/gavel" id="p136" onclick="copyToClipboard('#p136')"><i class="fa fa-gavel"></i> fa-gavel</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cog" id="p137" onclick="copyToClipboard('#p137')"><i class="fa fa-gear"></i> fa-gear <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/cogs" id="p138" onclick="copyToClipboard('#p138')"><i class="fa fa-gears"></i> fa-gears <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/gift" id="p139" onclick="copyToClipboard('#p139')"><i class="fa fa-gift"></i> fa-gift</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/glass" id="p140" onclick="copyToClipboard('#p140')"><i class="fa fa-glass"></i> fa-glass</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/globe" id="p141" onclick="copyToClipboard('#p141')"><i class="fa fa-globe"></i> fa-globe</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/graduation-cap" id="p142" onclick="copyToClipboard('#p142')"><i class="fa fa-graduation-cap"></i> fa-graduation-cap</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/users" id="p143" onclick="copyToClipboard('#p143')"><i class="fa fa-group"></i> fa-group <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/hdd-o" id="p144" onclick="copyToClipboard('#p144')"><i class="fa fa-hdd-o"></i> fa-hdd-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/headphones" id="p145" onclick="copyToClipboard('#p145')"><i class="fa fa-headphones"></i> fa-headphones</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/heart" id="p146" onclick="copyToClipboard('#p146')"><i class="fa fa-heart"></i> fa-heart</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/heart-o" id="p147" onclick="copyToClipboard('#p147')"><i class="fa fa-heart-o"></i> fa-heart-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/history" id="p148" onclick="copyToClipboard('#p148')"><i class="fa fa-history"></i> fa-history</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/home" id="p149" onclick="copyToClipboard('#p149')"><i class="fa fa-home"></i> fa-home</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/picture-o" id="p150" onclick="copyToClipboard('#p150')"><i class="fa fa-image"></i> fa-image <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/inbox" id="p151" onclick="copyToClipboard('#p151')"><i class="fa fa-inbox"></i> fa-inbox</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/info" id="p152" onclick="copyToClipboard('#p152')"><i class="fa fa-info"></i> fa-info</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/info-circle" id="p153" onclick="copyToClipboard('#p153')"><i class="fa fa-info-circle"></i> fa-info-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/university" id="p154" onclick="copyToClipboard('#p154')"><i class="fa fa-institution"></i> fa-institution <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/key" id="p155" onclick="copyToClipboard('#p155')"><i class="fa fa-key"></i> fa-key</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/keyboard-o" id="p156" onclick="copyToClipboard('#p156')"><i class="fa fa-keyboard-o"></i> fa-keyboard-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/language" id="p157" onclick="copyToClipboard('#p157')"><i class="fa fa-language"></i> fa-language</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/laptop" id="p158" onclick="copyToClipboard('#p158')"><i class="fa fa-laptop"></i> fa-laptop</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/leaf" id="p159" onclick="copyToClipboard('#p159')"><i class="fa fa-leaf"></i> fa-leaf</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/gavel" id="p160" onclick="copyToClipboard('#p160')"><i class="fa fa-legal"></i> fa-legal <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/lemon-o" id="p161" onclick="copyToClipboard('#p161')"><i class="fa fa-lemon-o"></i> fa-lemon-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/level-down" id="p162" onclick="copyToClipboard('#p162')"><i class="fa fa-level-down"></i> fa-level-down</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/level-up" id="p163" onclick="copyToClipboard('#p163')"><i class="fa fa-level-up"></i> fa-level-up</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/life-ring" id="p164" onclick="copyToClipboard('#p164')"><i class="fa fa-life-bouy"></i> fa-life-bouy <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/life-ring" id="p165" onclick="copyToClipboard('#p165')"><i class="fa fa-life-buoy"></i> fa-life-buoy <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/life-ring" id="p166" onclick="copyToClipboard('#p166')"><i class="fa fa-life-ring"></i> fa-life-ring</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/life-ring" id="p167" onclick="copyToClipboard('#p167')"><i class="fa fa-life-saver"></i> fa-life-saver <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/lightbulb-o" id="p168" onclick="copyToClipboard('#p168')"><i class="fa fa-lightbulb-o"></i> fa-lightbulb-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/line-chart" id="p169" onclick="copyToClipboard('#p169')"><i class="fa fa-line-chart"></i> fa-line-chart</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/location-arrow" id="p170" onclick="copyToClipboard('#p170')"><i class="fa fa-location-arrow"></i> fa-location-arrow</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/lock" id="p171" onclick="copyToClipboard('#p171')"><i class="fa fa-lock"></i> fa-lock</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/magic" id="p172" onclick="copyToClipboard('#p172')"><i class="fa fa-magic"></i> fa-magic</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/magnet" id="p173" onclick="copyToClipboard('#p173')"><i class="fa fa-magnet"></i> fa-magnet</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/share" id="p174" onclick="copyToClipboard('#p174')"><i class="fa fa-mail-forward"></i> fa-mail-forward</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/reply" id="p175" onclick="copyToClipboard('#p175')"><i class="fa fa-mail-reply"></i> fa-mail-reply</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/reply-all" id="p176" onclick="copyToClipboard('#p176')"><i class="fa fa-mail-reply-all"></i> fa-mail-reply-all <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/male" id="p177" onclick="copyToClipboard('#p177')"><i class="fa fa-male"></i> fa-male</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/map-marker" id="p178" onclick="copyToClipboard('#p178')"><i class="fa fa-map-marker"></i> fa-map-marker</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/meh-o" id="p179" onclick="copyToClipboard('#p179')"><i class="fa fa-meh-o"></i> fa-meh-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/microphone" id="p180" onclick="copyToClipboard('#p180')"><i class="fa fa-microphone"></i> fa-microphone</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/microphone-slash" id="p181" onclick="copyToClipboard('#p181')"><i class="fa fa-microphone-slash"></i> fa-microphone-slash</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/minus" id="p182" onclick="copyToClipboard('#p182')"><i class="fa fa-minus"></i> fa-minus</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/minus-circle" id="p183" onclick="copyToClipboard('#p183')"><i class="fa fa-minus-circle"></i> fa-minus-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/minus-square" id="p184" onclick="copyToClipboard('#p184')"><i class="fa fa-minus-square"></i> fa-minus-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/minus-square-o" id="p185" onclick="copyToClipboard('#p185')"><i class="fa fa-minus-square-o"></i> fa-minus-square-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/mobile" id="p186" onclick="copyToClipboard('#p186')"><i class="fa fa-mobile"></i> fa-mobile</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/mobile" id="p187" onclick="copyToClipboard('#p187')"><i class="fa fa-mobile-phone"></i> fa-mobile-phone</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/money" id="p188" onclick="copyToClipboard('#p188')"><i class="fa fa-money"></i> fa-money</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/moon-o" id="p189" onclick="copyToClipboard('#p189')"><i class="fa fa-moon-o"></i> fa-moon-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/graduation-cap" id="p190" onclick="copyToClipboard('#p190')"><i class="fa fa-mortar-board"></i> fa-mortar-board</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/music" id="p191" onclick="copyToClipboard('#p191')"><i class="fa fa-music"></i> fa-music</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bars" id="p192" onclick="copyToClipboard('#p192')"><i class="fa fa-navicon"></i> fa-navicon <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/newspaper-o" id="p193" onclick="copyToClipboard('#p193')"><i class="fa fa-newspaper-o"></i> fa-newspaper-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/paint-brush" id="p194" onclick="copyToClipboard('#p194')"><i class="fa fa-paint-brush"></i> fa-paint-brush</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/paper-plane" id="p195" onclick="copyToClipboard('#p195')"><i class="fa fa-paper-plane"></i> fa-paper-plane</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/paper-plane-o" id="p196" onclick="copyToClipboard('#p196')"><i class="fa fa-paper-plane-o"></i> fa-paper-plane-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/paw" id="p197" onclick="copyToClipboard('#p197')"><i class="fa fa-paw"></i> fa-paw</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/pencil" id="p198" onclick="copyToClipboard('#p198')"><i class="fa fa-pencil"></i> fa-pencil</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/pencil-square" id="p199" onclick="copyToClipboard('#p199')"><i class="fa fa-pencil-square"></i> fa-pencil-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/pencil-square-o" id="p200" onclick="copyToClipboard('#p200')"><i class="fa fa-pencil-square-o"></i> fa-pencil-square-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/phone" id="p201" onclick="copyToClipboard('#p201')"><i class="fa fa-phone"></i> fa-phone</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/phone-square" id="p202" onclick="copyToClipboard('#p202')"><i class="fa fa-phone-square"></i> fa-phone-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/picture-o" id="p203" onclick="copyToClipboard('#p203')"><i class="fa fa-photo"></i> fa-photo</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/picture-o" id="p204" onclick="copyToClipboard('#p204')"><i class="fa fa-picture-o"></i> fa-picture-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/pie-chart" id="p205" onclick="copyToClipboard('#p205')"><i class="fa fa-pie-chart"></i> fa-pie-chart</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/plane" id="p206" onclick="copyToClipboard('#p206')"><i class="fa fa-plane"></i> fa-plane</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/plug" onclick="copyToClipboard('#p207')"><i class="fa fa-plug" id="p207"></i> fa-plug</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/plus" id="p208" onclick="copyToClipboard('#p208')"><i class="fa fa-plus"></i> fa-plus</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/plus-circle" id="p209" onclick="copyToClipboard('#p209')"><i class="fa fa-plus-circle"></i> fa-plus-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/plus-square" id="p210" onclick="copyToClipboard('#p210')"><i class="fa fa-plus-square"></i> fa-plus-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/plus-square-o" id="p211" onclick="copyToClipboard('#p211')"><i class="fa fa-plus-square-o"></i> fa-plus-square-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/power-off" id="p212" onclick="copyToClipboard('#p212')"><i class="fa fa-power-off"></i> fa-power-off</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/print" id="p213" onclick="copyToClipboard('#p213')"><i class="fa fa-print"></i> fa-print</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/puzzle-piece" id="p214" onclick="copyToClipboard('#p214')"><i class="fa fa-puzzle-piece"></i> fa-puzzle-piece</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/qrcode" id="p215" onclick="copyToClipboard('#p215')"><i class="fa fa-qrcode"></i> fa-qrcode</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/question" id="p216" onclick="copyToClipboard('#p216')"><i class="fa fa-question"></i> fa-question</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/question-circle" id="p217" onclick="copyToClipboard('#p217')"><i class="fa fa-question-circle"></i> fa-question-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/quote-left" id="p218" onclick="copyToClipboard('#p218')"><i class="fa fa-quote-left"></i> fa-quote-left</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/quote-right" id="p219" onclick="copyToClipboard('#p219')"><i class="fa fa-quote-right"></i> fa-quote-right</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/random" id="p220" onclick="copyToClipboard('#p220')"><i class="fa fa-random"></i> fa-random</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/recycle" id="p221" onclick="copyToClipboard('#p221')"><i class="fa fa-recycle"></i> fa-recycle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/refresh" id="p222" onclick="copyToClipboard('#p222')"><i class="fa fa-refresh"></i> fa-refresh</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/times" id="p223" onclick="copyToClipboard('#p223')"><i class="fa fa-remove"></i> fa-remove <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/bars" id="p224" onclick="copyToClipboard('#p224')"><i class="fa fa-reorder"></i> fa-reorder <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/reply" id="p225" onclick="copyToClipboard('#p225')"><i class="fa fa-reply"></i> fa-reply</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/reply-all" id="p226" onclick="copyToClipboard('#p226')"><i class="fa fa-reply-all"></i> fa-reply-all</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/retweet" id="p227" onclick="copyToClipboard('#p227')"><i class="fa fa-retweet"></i> fa-retweet</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/road" id="p228" onclick="copyToClipboard('#p228')"><i class="fa fa-road"></i> fa-road</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/rocket" id="p229" onclick="copyToClipboard('#p229')"><i class="fa fa-rocket"></i> fa-rocket</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/rss" id="p330" onclick="copyToClipboard('#p330')"><i class="fa fa-rss"></i> fa-rss</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/rss-square" id="p331" onclick="copyToClipboard('#p331')"><i class="fa fa-rss-square"></i> fa-rss-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/search" id="p332" onclick="copyToClipboard('#p332')"><i class="fa fa-search"></i> fa-search</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/search-minus" id="p333" onclick="copyToClipboard('#p333')"><i class="fa fa-search-minus"></i> fa-search-minus</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/search-plus" id="p334" onclick="copyToClipboard('#p334')"><i class="fa fa-search-plus"></i> fa-search-plus</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/paper-plane" id="p335" onclick="copyToClipboard('#p335')"><i class="fa fa-send"></i> fa-send <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/paper-plane-o" id="p336" onclick="copyToClipboard('#p336')"><i class="fa fa-send-o"></i> fa-send-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/share" id="p337" onclick="copyToClipboard('#p337')"><i class="fa fa-share"></i> fa-share</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/share-alt" id="p338" onclick="copyToClipboard('#p338')"><i class="fa fa-share-alt"></i> fa-share-alt</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/share-alt-square" id="p339" onclick="copyToClipboard('#p339')"><i class="fa fa-share-alt-square"></i> fa-share-alt-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/share-square" id="p340" onclick="copyToClipboard('#p340')"><i class="fa fa-share-square"></i> fa-share-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/share-square-o" id="p341" onclick="copyToClipboard('#p341')"><i class="fa fa-share-square-o"></i> fa-share-square-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/shield" id="p342" onclick="copyToClipboard('#p342')"><i class="fa fa-shield"></i> fa-shield</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/shopping-cart" id="p343" onclick="copyToClipboard('#p343')"><i class="fa fa-shopping-cart"></i> fa-shopping-cart</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sign-in" id="p344" onclick="copyToClipboard('#p344')"><i class="fa fa-sign-in"></i> fa-sign-in</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sign-out" id="p345" onclick="copyToClipboard('#p345')"><i class="fa fa-sign-out"></i> fa-sign-out</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/signal" id="p346" onclick="copyToClipboard('#p346')"><i class="fa fa-signal"></i> fa-signal</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sitemap" id="p347" onclick="copyToClipboard('#p347')"><i class="fa fa-sitemap"></i> fa-sitemap</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sliders" id="p348" onclick="copyToClipboard('#p348')"><i class="fa fa-sliders"></i> fa-sliders</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/smile-o" id="p349" onclick="copyToClipboard('#p349')"><i class="fa fa-smile-o"></i> fa-smile-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/futbol-o" id="p350" onclick="copyToClipboard('#p350')"><i class="fa fa-soccer-ball-o"></i> fa-soccer-ball-o <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort" id="p351" onclick="copyToClipboard('#p351')"><i class="fa fa-sort"></i> fa-sort</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-alpha-asc" id="p352" onclick="copyToClipboard('#p352')"><i class="fa fa-sort-alpha-asc"></i> fa-sort-alpha-asc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-alpha-desc" id="p353" onclick="copyToClipboard('#p353')"><i class="fa fa-sort-alpha-desc"></i> fa-sort-alpha-desc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-amount-asc" id="p354" onclick="copyToClipboard('#p354')"><i class="fa fa-sort-amount-asc"></i> fa-sort-amount-asc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-amount-desc" id="p355" onclick="copyToClipboard('#p355')"><i class="fa fa-sort-amount-desc"></i> fa-sort-amount-desc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-asc" id="p356" onclick="copyToClipboard('#p356')"><i class="fa fa-sort-asc"></i> fa-sort-asc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-desc" id="p357" onclick="copyToClipboard('#p357')"><i class="fa fa-sort-desc"></i> fa-sort-desc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-desc" id="p358" onclick="copyToClipboard('#p358')"><i class="fa fa-sort-down"></i> fa-sort-down <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-numeric-asc" id="p359" onclick="copyToClipboard('#p359')"><i class="fa fa-sort-numeric-asc"></i> fa-sort-numeric-asc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-numeric-desc" id="p360" onclick="copyToClipboard('#p360')"><i class="fa fa-sort-numeric-desc"></i> fa-sort-numeric-desc</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort-asc" id="p361" onclick="copyToClipboard('#p361')"><i class="fa fa-sort-up"></i> fa-sort-up <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/space-shuttle" id="p362" onclick="copyToClipboard('#p362')"><i class="fa fa-space-shuttle"></i> fa-space-shuttle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/spinner" id="p363" onclick="copyToClipboard('#p363')"><i class="fa fa-spinner"></i> fa-spinner</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/spoon" id="p364" onclick="copyToClipboard('#p364')"><i class="fa fa-spoon"></i> fa-spoon</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/square" id="p365" onclick="copyToClipboard('#p365')"><i class="fa fa-square"></i> fa-square</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/square-o" id="p366" onclick="copyToClipboard('#p366')"><i class="fa fa-square-o"></i> fa-square-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/star" id="p367" onclick="copyToClipboard('#p367')"><i class="fa fa-star"></i> fa-star</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/star-half" id="p368" onclick="copyToClipboard('#p368')"><i class="fa fa-star-half"></i> fa-star-half</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/star-half-o" id="p369" onclick="copyToClipboard('#p369')"><i class="fa fa-star-half-empty"></i> fa-star-half-empty <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/star-half-o" id="p370" onclick="copyToClipboard('#p370')"><i class="fa fa-star-half-full"></i> fa-star-half-full <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/star-half-o" id="p371" onclick="copyToClipboard('#p371')"><i class="fa fa-star-half-o"></i> fa-star-half-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/star-o" id="p372" onclick="copyToClipboard('#p372')"><i class="fa fa-star-o"></i> fa-star-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/suitcase" id="p373" onclick="copyToClipboard('#p373')"><i class="fa fa-suitcase"></i> fa-suitcase</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sun-o" id="p374" onclick="copyToClipboard('#p374')"><i class="fa fa-sun-o"></i> fa-sun-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/life-ring" id="p375" onclick="copyToClipboard('#p375')"><i class="fa fa-support"></i> fa-support <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tablet" id="p376" onclick="copyToClipboard('#p376')"><i class="fa fa-tablet"></i> fa-tablet</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tachometer" id="p377" onclick="copyToClipboard('#p377')"><i class="fa fa-tachometer"></i> fa-tachometer</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tag" id="p378" onclick="copyToClipboard('#p378')"><i class="fa fa-tag"></i> fa-tag</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tags" id="p379" onclick="copyToClipboard('#p379')"><i class="fa fa-tags"></i> fa-tags</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tasks" id="p380" onclick="copyToClipboard('#p380')"><i class="fa fa-tasks"></i> fa-tasks</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/taxi" id="p381" onclick="copyToClipboard('#p381')"><i class="fa fa-taxi"></i> fa-taxi</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/terminal" id="p382" onclick="copyToClipboard('#p382')"><i class="fa fa-terminal"></i> fa-terminal</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/thumb-tack" id="p383" onclick="copyToClipboard('#p383')"><i class="fa fa-thumb-tack"></i> fa-thumb-tack</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/thumbs-down" id="p384" onclick="copyToClipboard('#p384')"><i class="fa fa-thumbs-down"></i> fa-thumbs-down</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/thumbs-o-down" id="p385" onclick="copyToClipboard('#p385')"><i class="fa fa-thumbs-o-down"></i> fa-thumbs-o-down</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/thumbs-o-up" id="p386" onclick="copyToClipboard('#p386')"><i class="fa fa-thumbs-o-up"></i> fa-thumbs-o-up</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/thumbs-up" id="p387" onclick="copyToClipboard('#p387')"><i class="fa fa-thumbs-up"></i> fa-thumbs-up</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/ticket" id="p388" onclick="copyToClipboard('#p388')"><i class="fa fa-ticket"></i> fa-ticket</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/times" id="p389" onclick="copyToClipboard('#p389')"><i class="fa fa-times"></i> fa-times</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/times-circle" id="p390" onclick="copyToClipboard('#p390')"><i class="fa fa-times-circle"></i> fa-times-circle</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/times-circle-o" id="p391" onclick="copyToClipboard('#p391')"><i class="fa fa-times-circle-o"></i> fa-times-circle-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tint" id="p392" onclick="copyToClipboard('#p392')"><i class="fa fa-tint"></i> fa-tint</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-down" id="p393" onclick="copyToClipboard('#p393')"><i class="fa fa-toggle-down"></i> fa-toggle-down <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-left" id="p394" onclick="copyToClipboard('#p394')"><i class="fa fa-toggle-left"></i> fa-toggle-left <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/toggle-off" id="p395" onclick="copyToClipboard('#p395')"><i class="fa fa-toggle-off"></i> fa-toggle-off</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/toggle-on" id="p396" onclick="copyToClipboard('#p396')"><i class="fa fa-toggle-on"></i> fa-toggle-on</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-right" id="p397" onclick="copyToClipboard('#p397')"><i class="fa fa-toggle-right"></i> fa-toggle-right <span class="text-muted">(alias)</span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/caret-square-o-up" id="p398" onclick="copyToClipboard('#p398')"><i class="fa fa-toggle-up"></i> fa-toggle-up <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/trash" id="p399" onclick="copyToClipboard('#p399')"><i class="fa fa-trash"></i> fa-trash</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/trash-o" id="p400" onclick="copyToClipboard('#p400')"><i class="fa fa-trash-o"></i> fa-trash-o</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tree" id="p401" onclick="copyToClipboard('#p401')"><i class="fa fa-tree"></i> fa-tree</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/trophy" id="p402" onclick="copyToClipboard('#p402')"><i class="fa fa-trophy"></i> fa-trophy</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/truck" id="p403" onclick="copyToClipboard('#p403')"><i class="fa fa-truck"></i> fa-truck</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/tty" id="p404" onclick="copyToClipboard('#p404')"><i class="fa fa-tty"></i> fa-tty</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/umbrella" id="p405" onclick="copyToClipboard('#p405')"><i class="fa fa-umbrella"></i> fa-umbrella</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/university" id="p406" onclick="copyToClipboard('#p406')"><i class="fa fa-university"></i> fa-university</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/unlock" id="p407" onclick="copyToClipboard('#p407')"><i class="fa fa-unlock"></i> fa-unlock</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/unlock-alt" id="p408" onclick="copyToClipboard('#p408')"><i class="fa fa-unlock-alt"></i> fa-unlock-alt</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/sort" id="p409" onclick="copyToClipboard('#p409')"><i class="fa fa-unsorted"></i> fa-unsorted <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/upload" id="p410" onclick="copyToClipboard('#p410')"><i class="fa fa-upload"></i> fa-upload</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/user" id="p411" onclick="copyToClipboard('#p411')"><i class="fa fa-user"></i> fa-user</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/users" id="p412" onclick="copyToClipboard('#p412')"><i class="fa fa-users"></i> fa-users</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/video-camera" id="p413" onclick="copyToClipboard('#p413')"><i class="fa fa-video-camera"></i> fa-video-camera</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/volume-down" id="p414" onclick="copyToClipboard('#p414')"><i class="fa fa-volume-down"></i> fa-volume-down</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/volume-off" id="p415" onclick="copyToClipboard('#p415')"><i class="fa fa-volume-off"></i> fa-volume-off</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/volume-up" id="p416" onclick="copyToClipboard('#p416')"><i class="fa fa-volume-up"></i> fa-volume-up</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/exclamation-triangle" id="p417" onclick="copyToClipboard('#p417')"><i class="fa fa-warning"></i> fa-warning <span class="text-muted"></span></a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/wheelchair" id="p418" onclick="copyToClipboard('#p418')"><i class="fa fa-wheelchair"></i> fa-wheelchair</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/wifi" id="p419" onclick="copyToClipboard('#p419')"><i class="fa fa-wifi"></i> fa-wifi</a>
                    </div>
                    <div class="fa-hover col-md-3 col-sm-4 col-xs-12">
                        <a href="#/wrench" id="p420" onclick="copyToClipboard('#p420')"><i class="fa fa-wrench"></i> fa-wrench</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
